body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

#game-container canvas {
    border: 2px solid #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
}


#startButton {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1.2em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}

#startButton.visible {
    opacity: 0.7;
    visibility: visible;
    animation: pulseOpacity 2s ease-in-out infinite;
}

#start-container {
    transition: opacity 1s ease;
    opacity: 1;
}

.fade-out {
    opacity: 0 !important;
}


@keyframes pulseOpacity {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }
}

#description-container {
    transition: opacity 1s ease;
    opacity: 1;
}

#description-container.hidden {
    opacity: 0;
    pointer-events: none;
}

#intro-overlay {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
  }
  
  #intro-overlay.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  #discover-btn {
    font-size: larger;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    color: white;
    background-color: black;
    border: none;
    animation: pulseOpacity 2s ease-in-out infinite;
}
  